@tailwind base;
@tailwind components;
@tailwind utilities;


/* define the icon style in Header */
@layer components {
	.icon {
		@apply w-6 h-9 lg:w-9 cursor-pointer rounded-sm lg:p-1 lg:hover:bg-green-100
	}

	.voteButtons {
		@apply w-6 h-6 hover:bg-gray-200
 p-1 rounded-md
	}
}
